:root{
	--navyblue: #394867;
    --white: #F1F6F9;
    --black: #212A3E;
    --ash: #9BA4B5;
}

html    {
    font-size: 20px;
}


body{
    margin: 0;
    position: relative;
}


img {
    width: 50vw;
    height: 200px;
    border-radius: 10px;
}

#rickyjpeg {
    height: 90px;
    width:80px;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 15%;

    
}

h1, h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1{
    background-color: var(--black);
    color: var(--white);
    font-size: 2em;
}

h2 {
    color: var(--black);
    font-weight: 500;
   font-size: 1em;
   text-transform: uppercase;
}

h3  {
    font-family: 'Red Hat Mono', monospace;
    color: var(--black);
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
   
}

a{
    color: var(--black);
    text-decoration: none;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0px;
}

.project-img {
    display: grid;
    justify-content: center;
    height: 100px;
    width: auto;
    border-radius: 10px;
    border: 2px var(--ash) solid;
   
}

#project-container  {
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--ash);
    margin: 50px;
    padding: 30px;
    border: 2px var(--navyblue) solid;
    border-radius: 20px;
    
    
}

#project-card{
    display: grid;
    justify-content: center;
    border: 2px var(--black) solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    padding: 20px;
    background-color: var(--white);
    height: 200px;
    width: 150px;

}

.project-type   {
    font-size: 0.5em;
    margin: 0;
}

.appreciation   {
    text-align: center;
    font-weight: bold;
    font-family: 'Red Hat Mono', monospace;
    background-color: var(--black);
    color: var(--white);
    padding: 5px;

}


h4{
    text-align: center;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.footer-text    {
    font-size: 15px;
    margin: 0px 10px;
    color: var(--black); 
    font-family: 'Poppins', sans-serif;   
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: grid;
    font-size: 3rem;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    margin-top: 10px;
  }



  /* ABOUT ME */

  #aboutme  {
    position: relative;
    top: 0;
    left: 29%;
    align-items: center;
    height: auto;
    width: 500px;
    background-color: var(--ash);
    padding: 40px;
    border-radius: 20px;
  }

  div#aboutme .remark  {
    font-size: 1em;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  .renzeljpeg2  {
    width: 180px;
    height: 300px;
    float: left;
    margin-right: 20px;
  }

  /* JOB EXPERIENCE */

  #work-history {
    height: auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .position-roles{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 900;
  }

    .roles{
    font-size: 0.6em;
    width: 420px;
    font-weight: 100;
    color: var(--navyblue);
    font-family: 'Poppins', sans-serif;

  }

  ul{
    margin: 5px, 0px;
  }
  
  .roles-list{
    font-size: 0.6em;
    width: 420px;
    font-weight: 100;
    color: var(--navyblue);
    font-family: 'Poppins', sans-serif;
  }



  /* CONTACT US */

  .social-links  {
    margin: 0 5px;
    font-size: 0.8em;
  }

  .fab  {
    margin: 0 5px;
  }

  #contact-info {
    position: relative;
    top: 10rem;
    left: 38%;
    background-color: var(--ash);
    height: auto;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
  }


  .footer-nav.contact {
    display: flex;
    justify-content: center;
    margin-top: 38%;
}