:root{
	--navyblue: #394867;
    --white: #F1F6F9;
    --black: #212A3E;
    --ash: #9BA4B5;
}

html    {
    font-size: 20px;
}


body{
    margin: 0;
    position: relative;
    height: 100%;
}


img {
    width: 50vw;
    height: 200px;
    border-radius: 10px;
}

#rickyjpeg {
    height: 90px;
    width:80px;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    left: 15%;

    
}

h1, h2 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

h1{
    background-color: var(--black);
    color: var(--white);
    font-size: 2em;
    width: 100%;
}

h2 {
    color: var(--black);
    font-weight: 500;
   font-size: 1em;
   text-transform: uppercase;
}

h3  {
    font-family: 'Red Hat Mono', monospace;
    color: var(--black);
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
   
}

a{
    color: var(--black);
    text-decoration: none;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin: 0px;
}

.project-img {
    height: 100px;
    width: auto;
    border-radius: 10px;
    border: 2px var(--ash) solid;
   
}

#project-container  {
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--ash);
    margin: 50px;
    padding: 20px;
    border: 2px var(--navyblue) solid;
    border-radius: 20px;
    gap: 10px;
    
    
}

#project-card{
    display: grid;
    justify-content: center;
    border: 2px var(--black) solid;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 5px;
    background-color: var(--white);
    flex: 1;

}

.project-type   {
    font-size: 0.5em;
    margin: 0;
}

.appreciation   {
    text-align: center;
    font-weight: bold;
    font-family: 'Red Hat Mono', monospace;
    background-color: var(--black);
    color: var(--white);
    padding: 5px;

}


h4{
    text-align: center;
    font-weight: bold;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.footer-text    {
    font-size: 15px;
    margin: 0px 10px;
    color: var(--black); 
    font-family: 'Poppins', sans-serif;   
}

.footer-nav {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: grid;
    font-size: 2rem;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    margin-top: 10px;
  }



  /* ABOUT ME */

  #aboutme  {
    position: relative;
    top: 0;
    left: 25%;
    align-items: center;
    height: auto;
    width: 50%;
    background-color: var(--ash);
    padding: 20px;
    border-radius: 20px;
  }

  div#aboutme .remark  {
    font-size: 1em;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
  }

  .renzeljpeg2  {
    width: 150px;
    height: 250px;
    float: left;
    margin-right: 20px;
  }


  /* JOB EXPERIENCE */

  #work-history {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  .position-roles{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: 0.8em;
    font-weight: 900;
  }

    .roles{
    font-size: 0.6em;
    width: auto;
    font-weight: 100;
    color: var(--navyblue);
    font-family: 'Poppins', sans-serif;

  }

  ul{
    margin: 5px, 0px;
  }
  
  .roles-list{
    font-size: 0.6em;
    width: auto;
    font-weight: 100;
    color: var(--navyblue);
    font-family: 'Poppins', sans-serif;
  }



  /* CONTACT US */

  .social-links  {
    margin: 0 5px;
    font-size: 0.8em;
  }

  .fab  {
    margin: 0 5px;
  }

  #contact-info {
    position: absolute;
    top: 20%;
    left: 20%;
    background-color: var(--ash);
    width: 60%;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
  }

  
  .footer-nav.contact {
    display: flex;
    justify-content: center;
    margin-top: 50%;
    margin-left: 20px;
    margin-right: 20px;
}

/* <!-- 
Mobile Devices: 319px — 480px
iPads and Tablets: 481px — 1200px
Laptops: 1201px — 1600px
Desktops: 1601px and more
--> */

@media (min-width: 319px) and (max-width: 480px) {

/* SCREENS OF MOBILE DEVICES MAX-WIDTH 480PX */
      .project-img {
        height: 70px;
    }

    a{
      color: var(--black);
      font-size: 10px;
      margin: 0px;
    }

    h1{
      background-color: var(--black);
      color: var(--white);
      font-size: 1em;
      width: 100%;
  }

    h2   {
      font-size: 0.8em;
      margin: 12px;
    }

    h3  {
      font-size: 0.6em;
      margin: 12px;
    }

    #rickyjpeg {
      height: 60px;
      width:50px;
      position: absolute;
      top: -10px;
      left: 3%;
    }

    #project-card{
      padding: 10px;
      width: fit-content;
      /* margin: 5px; */
  
  }

  .fab {
    margin: 0 5px;
    font-size: 1.5em;
  }

  .footer-text{
    font-size: 10px;
  }

  .footer-nav.contact {
    display: flex;
    justify-content: center;
    margin-top: 170%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .renzeljpeg2  {
    width: 80px;
    height: 120px;
    margin-right: 10px;
  }

  div#aboutme .about  {
    font-size: 0.6em;
  }


  div#aboutme .remark  {
    font-size: 0.8em;

}

.position-roles{
  font-size: 0.6em;
}

.social-links  {
  margin: 0 5px;
  font-size: 0.6em;
}

}



@media (min-width:  481px) and (max-width: 1200px) {

  /* SCREENS OF IPADS AND TABLETS MAX-WIDTH 1200PX */
        .project-img {
          height: 80px;
      }
  
      a{
        color: var(--black);
        font-size: 12px;
        margin: 0px;
      }
  
      h1 {
        font-size: 1.5em;
      }
  
      h2   {
        font-size: 1em;
        margin: 15px;
      }
  
      h3  {
        font-size: 0.8em;
        margin: 15px;
      }
  
      #rickyjpeg {
        height: 60px;
        width:50px;
        position: absolute;
        top: -10px;
        left: 2%;
      }
  
      #project-card{
        padding: 10px;
        width: fit-content;
        /* margin: 5px; */
    
    }
  
    .fab {
      margin: 0 5px;
      font-size: 1.5em;
    }
    
    .renzeljpeg2  {
      width: 120px;
      height: 200px;
      margin-right: 10px;
    }

    .social-links  {
      margin: 0 5px;
      font-size: 1em;
    }
    

  }